#submitBtn {
    width: 350px;
    height: 60px;
    background-color: #3AE3AB;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: absolute;
    left: 545px;
    top: 739px;
    cursor: pointer;
}

#submitBtnText {
    font-size: 24px;
    font-weight: bold;
    width: 210px;
    height: 30px;
    position: absolute;
    left: 75px;
    top: 70px;
    margin: 0;
}

