#submitBtn {
    width: 350px;
    height: 60px;
    background-color: #3AE3AB;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    position: absolute;
    left: 545px;
    top: 739px;
    cursor: pointer;
}

#submitBtnText {
    font-size: 24px;
    font-weight: bold;
    width: 210px;
    height: 30px;
    position: absolute;
    left: 608px;
    top: 754px;
    margin: 0;
}

